* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    min-height: 80%;
    gap: 2rem;
}

